<div class="container">
    <div class="right">
        <button class="object-creator" type="button" aria-label="Create new object">
            <fa-icon [icon]="faPlus"/>
        </button>
        <button class="object-import" type="button" aria-label="Import objects">
            <fa-icon [icon]="faCircleArrowDown"/>
            <span>Import</span>
        </button>
        <button class="object-export" type="button" aria-label="Export objects">
            <fa-icon [icon]="faCircleArrowUp"/>
            <span>Export</span>
        </button>
    </div>
    <div class="right">
        @if(listView) {
            <!-- TODO : Make a paginator here -->
            <button class="card-view" type="button" aria-label="Display card view" (click)="changeView()">
                <fa-icon [icon]="faGrip"/>
            </button>
        }
        @if(!listView) {
            <button class="list-view" type="button" aria-label="Display list view" (click)="changeView()">
                <fa-icon [icon]="faList"/>
            </button>
        }
    </div>
</div>
