@if(items) {
    <table>
        <thead>
          <tr>
            @if(config.actions?.edit) {
              <th></th>
            }

            @for(column of config.columns; track column.key) {
              <th [style.width]="column.width">
                {{ column.label }}
                @if (column.sortable && config.sortable) {
                    <fa-icon [icon]="faSort" size="sm" (click)="sortBy(column.key)"/>
                }
              </th>
            }

            @if(config.actions?.delete) {
              <th></th>
            }
          </tr>
        </thead>
        <tbody>
          @for(item of items; track item.id) {
            <tr>
              <td><fa-icon [icon]="faPen" size="sm"/></td>
              @for(column of config.columns; track column.key) {
                <td>{{ getItemValue(item, column.key) }} @if(column.key == "price") { € }</td>
              }
              <td><fa-icon [icon]="faTrash" size="sm" (click)="delete(item.id)"/></td>
            </tr>
          }
        </tbody>
      </table>
  }
  