
@if(items) {
    <table id="table">
        <thead>
          <tr>
            @if(config.actions?.edit) {
              <th></th>
            }

            @for(column of config.columns; track column.key) {
              @if(column.subcolumns) {
                @for(subcolumn of column.subcolumns; track subcolumn.key) {
                  <th [style.width]="subcolumn.width">
                    {{ subcolumn.label }}
                    @if (subcolumn.sortable && config.sortable) {
                      <fa-icon [icon]="faSort" size="sm" (click)="sortBy(column.key)"/>
                    }
                    @if (subcolumn.filterable && config.filterable) {
                      
                    }
                  </th>
                }
              }

              @else {
                <th [style.width]="column.width">
                  {{ column.label }}
                  @if (column.sortable && config.sortable) {
                    <fa-icon [icon]="faSort" size="sm" (click)="sortBy(column.key)"/>
                  }
                  @if (column.filterable && config.filterable) {
                    <div>
                      <input type="search" name="" id="" (input)="filter(column.key, getValue($event))">
                    </div>
                  }
                </th>
              }
            }

            @if(config.actions?.delete) {
              <th></th>
            }
          </tr>
        </thead>
        <tbody>
          @for(item of items; track item.id) {
            <tr>
              <td><fa-icon [icon]="faPen" size="sm"  (click)="modify(item.id)"/></td>
              @for(column of config.columns; track column.key) {
                @if(column.subcolumns) {
                  @for(subcolumn of column.subcolumns; track subcolumn.key) {
                    <td>{{ getItemValue(getItemValue(item, column.key), subcolumn.key) }}</td>
                  }
                }

                @else {
                  <td>{{ getItemValue(item, column.key) }} @if(column.key == "price") { € }</td>
                }
              }
              <td><fa-icon [icon]="faTrash" size="sm" (click)="delete(item.id)"/></td>
            </tr>
          }
        </tbody>
      </table>
  }
  